*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

section {
  width: 100%;
  overflow: hidden;
}

.options-boxes {
  margin-top: 100px;
}
.options-boxes h1 {
  text-align: center;
  color: #000;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  margin-top: 100px;
}
.options-boxes .options-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.options-boxes .options-container .options-box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options-boxes .options-container .options-box h3 {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 300;
  padding: 20px;
}
.options-boxes .options-container .options-box .options-box-img {
  border-radius: 15px;
  height: 400px;
  width: 400px;
  background-size: cover;
}
.options-boxes .options-container .options-box .options-box-info {
  font-size: 1.5rem;
  width: 500px;
}
.options-boxes .options-container .options-box .options-box-info .options-box-text {
  padding: 20px;
  text-align: center;
}
.options-boxes .options-container .options-box .diet {
  background-image: url("../img/diet.jpg");
}
.options-boxes .options-container .options-box .gym {
  background-image: url("../img/gym.jpg");
}
.options-boxes .options-container .options-box .rehab {
  background-image: url("../img/rehab.jpg");
}
.options-boxes .options-container .options-box .check-btn {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 130px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #000;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 0.3s;
}
.options-boxes .options-container .options-box .check-btn:hover {
  transform: scale(1.1);
}

.about {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url("../img/about-big.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;
}
.about h1 {
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  margin: 50px;
  font-size: 4rem;
  font-weight: 300;
}
.about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-container .about-box {
  justify-content: center;
  align-items: center;
  color: #fff;
}
.about .about-container .about-box h3 {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px;
  font-weight: 300;
  text-align: center;
}

.professionals {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}
.professionals h1 {
  text-align: center;
  color: #000;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}
.professionals .professionals-container {
  margin-top: 50px;
  margin: 0 auto;
  width: 100%;
}
.professionals .professionals-container .professional-box {
  position: relative;
  margin: 3em;
  padding: 3em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
  transition: transform 0.3s;
}
.professionals .professionals-container .professional-box:hover {
  transform: scale(0.95);
}
.professionals .professionals-container .professional-box .professional-img {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.professionals .professionals-container .professional-box .professional-img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.professionals .wrapper .contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.professionals .wrapper .contact-info-container .contact-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  padding: 10px;
  height: 200px;
}
.professionals .wrapper .contact-info-container .contact-info-box .info {
  text-align: center;
  padding: 5px;
}
.professionals .wrapper .contact-info-container .contact-info-box .info p {
  padding: 5px;
}

@media (min-width: 576px) {
  .options-boxes h1 {
    font-size: 3rem;
  }
  .options-boxes .options-container .options-box h3 {
    font-size: 2.4rem;
  }
  .options-boxes .options-container .options-box .options-box-text {
    font-size: 1.5rem;
  }
  .about h1 {
    font-size: 3rem;
  }
  .about .about-box h3 {
    font-size: 2.4rem;
  }
  .professionals .professionals-container {
    margin-top: 50px;
  }
  .professionals .professionals-container .professional-box {
    margin: 3em;
    padding: 3em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
    transition: transform 0.3s;
    cursor: grab;
  }
  .professionals .professionals-container .professional-box:hover {
    transform: scale(0.95);
  }
  .professionals .professionals-container .professional-box .professional-img {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .professionals .professionals-container .professional-box .professional-img img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .professionals .professionals-container .professional-box .professional-info .professional-text p {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .options-boxes h1 {
    font-size: 3.3rem;
  }
  .options-boxes .options-container .options-box h3 {
    font-size: 2.7rem;
  }
  .options-boxes .options-container .options-box .options-box-text {
    font-size: 1.8rem;
  }
  .about h1 {
    font-size: 3.3rem;
  }
  .about .about-box h3 {
    font-size: 2.7rem;
  }
  .professionals h1 {
    font-size: 3.3rem;
  }
  .professionals .professionals-container {
    margin-top: 50px;
  }
  .professionals .professionals-container .professional-box {
    margin: 3em;
    padding: 3em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
    transition: transform 0.3s;
    cursor: grab;
  }
  .professionals .professionals-container .professional-box:hover {
    transform: scale(0.95);
  }
  .professionals .professionals-container .professional-box .professional-img {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .professionals .professionals-container .professional-box .professional-img img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .professionals .professionals-container .professional-box .professional-info .professional-text p {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .options-boxes h1 {
    font-size: 3.8rem;
  }
  .options-boxes .options-container .options-box h3 {
    font-size: 3.2rem;
  }
  .options-boxes .options-container .options-box .options-box-text {
    font-size: 2.1rem;
  }
  .about h1 {
    font-size: 3.8rem;
  }
  .about .about-container {
    flex-direction: row;
  }
  .about .about-container .about-box h3 {
    font-size: 3rem;
  }
  .professionals h1 {
    font-size: 3.8rem;
  }
  .professionals .professionals-container {
    margin-top: 50px;
  }
  .professionals .professionals-container .professional-box {
    margin: 3em;
    padding: 3em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
    transition: transform 0.3s;
    cursor: grab;
  }
  .professionals .professionals-container .professional-box:hover {
    transform: scale(0.95);
  }
  .professionals .professionals-container .professional-box .professional-img {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .professionals .professionals-container .professional-box .professional-img img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .professionals .professionals-container .professional-box .professional-info .professional-text p {
    font-size: 2.1rem;
  }
}
@media (min-width: 1100px) {
  .options-boxes .options-container {
    flex-direction: row;
  }
  .options-boxes .options-container .options-box h3 {
    font-size: 3.4rem;
  }
  .options-boxes .options-container .options-box .options-box-text {
    font-size: 2.1rem;
  }
  .about h1 {
    font-size: 4rem;
  }
  .about .about-box h3 {
    font-size: 3.4rem;
  }
  .professionals h1 {
    font-size: 4rem;
  }
  .professionals .professionals-container {
    margin-top: 50px;
  }
  .professionals .professionals-container .professional-box {
    margin: 3em;
    padding: 3em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
    transition: transform 0.3s;
    cursor: grab;
  }
  .professionals .professionals-container .professional-box:hover {
    transform: scale(0.95);
  }
  .professionals .professionals-container .professional-box .professional-img {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .professionals .professionals-container .professional-box .professional-img img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .professionals .professionals-container .professional-box .professional-info .professional-text p {
    font-size: 2.3rem;
  }
}/*# sourceMappingURL=MainSection.module.css.map */