*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

section {
  width: 100%;
  overflow: hidden;
}

//  OPTIONS

.options-boxes {
  margin-top: 100px;
  h1 {
    text-align: center;
    color: #000;
    font-size: 2.8rem;;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 100px;
  }
  .options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .options-box {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: 300;
        padding: 20px;
      }
  
      .options-box-img {
        border-radius: 15px;
        height: 400px;
        width: 400px;
        background-size: cover;
      }
  
      .options-box-info {
        font-size: 1.5rem;
        width: 500px;
        .options-box-text {
          padding: 20px;
          text-align: center;
        }
      }
  
      .diet {
        background-image: url('../img/diet.jpg');
      }
      .gym {
        background-image: url('../img/gym.jpg');
      }
      .rehab {
        background-image: url('../img/rehab.jpg');
      }
  
      .check-btn {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 40px;
        width: 130px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 1px;
        color: #000;
        border: 1px solid black;
        border-radius: 20px;
        transition: all 0.3s;
      }
      .check-btn:hover {
        transform: scale(1.1);
      }
    }
  }
}

//  ABOUT

.about {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
      45deg,
      rgba(8, 206, 255, 0.75),
      rgba(8, 24, 255, 0.75)
    ),
    url('../img/about-big.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;

  h1 {
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    margin: 50px;
    font-size: 4rem;
    font-weight: 300;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-box {
      justify-content: center;
      align-items: center;
      color: #fff;
      h3 {
        text-transform: uppercase;
        font-size: 2rem;
        padding: 20px;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

.professionals {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  h1 {
    text-align: center;
    color: #000;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
  }
  .professionals-container {
    margin-top: 50px;
    margin: 0 auto;
    width: 100%;
    .professional-box {
      position: relative;
      margin: 3em;
      padding: 3em;
      border-radius: 8px;
      box-shadow: 3px 3px 10px #2e2e2e2e;
      transition: transform 0.3s;

      &:hover {
        transform: scale(0.95);
      }
      .professional-img {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  .wrapper {
    .contact-info-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      .contact-info-box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 0 5px black;
        padding: 10px;
        height: 200px;

        .info {
          text-align: center;
          padding: 5px;
          p {
            padding: 5px;
          }
        }
      }
    }
  }
}
// MEDIA

@media (min-width: 576px) {
  .options-boxes {
    h1 {
      font-size: 3rem;
    }
    .options-container {
      .options-box {
        h3 {
          font-size: 2.4rem;
        }

        .options-box-text {
          font-size: 1.5rem;
        }
      }
    }
  }

  .about {
    h1 {
      font-size: 3rem;
    }
    .about-box {
      h3 {
        font-size: 2.4rem;
      }
    }
  }


  .professionals {
    .professionals-container {
      margin-top: 50px;
      .professional-box {
        margin: 3em;
        padding: 3em;
        border-radius: 8px;
        box-shadow: 3px 3px 10px #2e2e2e2e;
        transition: transform 0.3s;
        cursor: grab;

        &:hover {
          transform: scale(0.95);
        }
        .professional-img {
          position: absolute;
          top: 50%;
          left: 85%;
          transform: translate(-50%, -50%);
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .professional-info {
          .professional-text {
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .options-boxes {
    h1 {
      font-size: 3.3rem;
    }
    .options-container {
      .options-box {
        h3 {
          font-size: 2.7rem;
        }

        .options-box-text {
          font-size: 1.8rem;
        }
      }
    }
  }

  .about {
    h1 {
      font-size: 3.3rem;
    }
    .about-box {
      h3 {
        font-size: 2.7rem;
      }
    }
  }


  .professionals {
    h1 {
      font-size: 3.3rem;
    }
    .professionals-container {
      margin-top: 50px;
      .professional-box {
        margin: 3em;
        padding: 3em;
        border-radius: 8px;
        box-shadow: 3px 3px 10px #2e2e2e2e;
        transition: transform 0.3s;
        cursor: grab;

        &:hover {
          transform: scale(0.95);
        }
        .professional-img {
          position: absolute;
          top: 50%;
          left: 85%;
          transform: translate(-50%, -50%);
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .professional-info {
          .professional-text {
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .options-boxes {
    h1 {
      font-size: 3.8rem;
    }
    .options-container {
      .options-box {
        h3 {
          font-size: 3.2rem;
        }

        .options-box-text {
          font-size: 2.1rem;
        }
      }
    }
  }

  .about {
    h1 {
      font-size: 3.8rem;
    }
    .about-container {
      flex-direction: row;
      .about-box {
        h3 {
          font-size: 3rem;
        }
      }
    }
  }


  .professionals {
    h1 {
      font-size: 3.8rem;
    }
    .professionals-container {
      margin-top: 50px;
      .professional-box {
        margin: 3em;
        padding: 3em;
        border-radius: 8px;
        box-shadow: 3px 3px 10px #2e2e2e2e;
        transition: transform 0.3s;
        cursor: grab;

        &:hover {
          transform: scale(0.95);
        }
        .professional-img {
          position: absolute;
          top: 50%;
          left: 85%;
          transform: translate(-50%, -50%);
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .professional-info {
          .professional-text {
            p {
              font-size: 2.1rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .options-boxes {
    .options-container {
      flex-direction: row;
      .options-box {
        h3 {
          font-size: 3.4rem;
        }

        .options-box-text {
          font-size: 2.1rem;
        }
      }
    }
  }

  .about {
    h1 {
      font-size: 4rem;
    }
    .about-box {
      h3 {
        font-size: 3.4rem;
      }
    }
  }


  .professionals {
    h1 {
      font-size: 4rem;
    }
    .professionals-container {
      margin-top: 50px;
      .professional-box {
        margin: 3em;
        padding: 3em;
        border-radius: 8px;
        box-shadow: 3px 3px 10px #2e2e2e2e;
        transition: transform 0.3s;
        cursor: grab;

        &:hover {
          transform: scale(0.95);
        }
        .professional-img {
          position: absolute;
          top: 50%;
          left: 85%;
          transform: translate(-50%, -50%);
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .professional-info {
          .professional-text {
            p {
              font-size: 2.3rem;
            }
          }
        }
      }
    }
  }
}