*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .recipe-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        padding: 10px;

        .recipe-name {
            padding: 10px;
        }

        .recipe-level {
            padding: 10px;
        }
    }

    .recipe-image {
        width: 400px;
        height: 350px;
        background-image: url('../img/gym.jpg');
    }

    .macros-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 400px;
        height: 350px;
        border: 2px solid black;
        margin: 50px auto;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
        }
    }

    .ingredients-box {
        display: flex;
        flex-direction: column;
        width: 400px;
        
        ul {
            list-style: none;
            
            li {
                padding: 10px;
            }
        
        }
    }

    .prepare-box {
        width: 400px;
        text-align: justify;
        margin: 50px auto;
    }

}

