*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

@keyframes toggleEffect {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: none;
    }
}

.model-container {
    overflow: hidden;
    width: 100%;
    padding: 20px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .muscles-button-box {
        button {
            padding: 5px;
            margin: 5px;
        }
    }

    svg {
        height: 600px;
        width: 100%;
        .human-model {
            // transform: scale(1);
            transform-origin: center;
        }
        .circle {
            animation: toggleEffect 2s infinite ease-in-out;
        }
    }
}



//.container {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // .human-box{
    //     width: 400px;
    //     height: 400px;
    //     background-color: tomato;
    // }   
    // .muscle-info{
    //     width: 400px;
    //     height: 150px;
    //     background-color: royalblue;
    // }
//}