*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

footer {
    display: flex;
}



// @media (min-width: 992px) {
//     .container {
//         align-items: flex-start;
//     }
//     .option-box {
//         ul {
//             text-align: left;
//             li {
//                 i {
//                     visibility: visible;
//                     padding: 5px;
//                 }
//             }
//         }
//     }
// }