*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

.weight-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.kcal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intake-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .activity-box {
            display: flex;
            flex-direction: column;

            .checkbox-inputs {
                display: inline;
            }
        }

    }
}